 div {
        display: flex  ;
        padding: 10%;
    }
 form {
    background-color: #dadada;
    width: 160px;
    padding: 55%;
    border-radius: 5px;
}
input[type="submit"] {
    margin-top: 20px;
    color: WHITE;
    background-color: black;
    border-radius: 3px;
    border: 0;
    padding: 8px;
    width: 100%;
    cursor: pointer;
}
@media (min-width:700px) {
    div {
       justify-content: center;
    
    }
}