body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9% 0;
    margin: 0;
    background-color: #e8e8e8;
    
}
i.fa-solid.fa-pen-to-square {
    display: flex
;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
h4 {
    font-size: 18px;
    color: #727272;
    margin: 15px 0;
}
input[type="text"],input[type="email"],input[type="password"],input[type="number"] {
    background: #ffffff;
    width: 95%;
    padding: 10px 10px;
    border: 0;
    border-radius: 3px;
    color: #404040;
}
input[type="submit"] {
    margin: 25px 0px;
    width: 104%;
    padding: 10px;
    border: 0;
    border-radius: 4px;
    background-color: #255eb9;
    text-align: center;
    color: white;
    font-size: 16px;
    transition: all .3s ease-out;
    cursor: pointer;

}
input[type="submit"]:hover{
    background-color: #346fce;
}
label#Fe ,label#Ma {
    color: #727272;
}
a#btn{
    display: block;
    margin: 0px;
    text-decoration: none;
    width: 94%;
    padding: 10px;
    border: 0;
    border-radius: 4px;
    background-color: #161616;
    text-align: center;
    color: white;
    font-size: 16px;
    transition: all .3s ease-out;
    cursor: pointer;
}
a#btn:hover{
    background-color: #2b2b2b;
    

}