*{
    margin: 0;
    padding: 0;
box-sizing: border-box;
}
img{
    max-width: 100%;
}
body.patientbody {
    overflow-x: hidden;
    height: 157vh !important;
}
body{
    background:url(../img/image\ \(4\).png);
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.divForm {
    width: 100%;
    padding: 49px;
}
i.fa-solid.fa-hospital-user.icon2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55px;
    color: white;
    padding: 31px;
}
h4 {
    color: #e7e7e7;
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0 10px;
}
.shadow {
    background-color: #00000057;
}
input,textarea#textarea{
    background: #e2e2e2;
    padding: 8px;
    outline: none;
    border: 0px;
    border-radius: 5px;
    width: 100%;
}

textarea{
    width: 116%!important;
    resize: none;
}
input#btn2 {

    color: white;
    background-color: black;
    font-weight: 600;
    margin: 18px 0;
    transition: all .3s ease-in;
}
input#btn2:hover{
    background-color: rgb(37, 37, 37);
}

#Ma,#Fe {
    font-size: 16px;
    font-weight: 600;
    padding: 0px 33px 0 0;
    color: #dddddd;
}
label#Ma input,label#Fe input{
    width: 45px;
    font-size: 15px !important;
    color: #ffffff !important;
    font-weight: bolder !important;
}
input#date {
    width: 143% !important;
}
input[type="number"] {
    width: 282%;
} 

@media (min-width:700px) {
    form#form2 {
        padding: 59px 22%;
    }
    .container {
        width: 33%;
        margin: 0 auto;
        padding: 0;
    }
    input[type="number"] {
        width: 241%;
    }
    body{
        background:url(../img/image\ \(4\).png);
        background-position: center;
        background-size: inherit;
    }
    input#btn2{
        width: 100%;
    }
    .ErrorMS.regist span{
    width: 90%;
    }

}